.outerContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(248,154,255), rgb(7,255,234));
}


.homeContainer {
    width: 450px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgb(248,154,255), rgb(7,255,234));
    outline: 1px solid black;
    font-family: 'Kosugi Maru';
    font-size: 18px;
    filter: drop-shadow(5px 5px 5px #5B5060);
    user-select: none;
}

.homeBar {
    background-image: linear-gradient(to right, rgb(248,154,255), rgb(7,255,234));
    width: 480px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
}

.homeIcon {
    outline: 1px solid black;
    position: absolute;
    right: 0px;
    height: 30px;
    width: 35px;
    font-size: 25px;
    text-align: center;
}

.homeIcon:hover {
    background: rgb(248,154,255);   
}

.slideLeft {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    left: calc(50% - 250px);
}

.slideRight {
    animation-name: slideRight;
    animation-duration: 0.5s;
    left: calc(50% + 250px);
}

.undoSlideLeft {
    animation-name: undoSlideLeft;
    animation-duration: 0.5s;
    left: 50%;
}

.undoSlideRight {
    animation-name: undoSlideRight;
    animation-duration: 0.5s;
    left: 50%;
}

.linkBox {
    outline: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}

.linkBox:hover {
    animation-name: linkFade;
    animation-duration: 0.5s;
    background: rgb(7,255,234);
}

#resumeBox {
    position: absolute;
    bottom: 0;
    width: 87.5%;
}

@keyframes linkFade {
    from { background: white; }
    to { background: rgb(7,255,234); }
}

@keyframes slideLeft {
    from { left: 50%; }
    to { left: calc(50% - 250px); }
}

@keyframes slideRight {
    from { left: 50%; }
    to { left: calc(50% + 250px); }
}

@keyframes undoSlideLeft {
    from { left: calc(50% - 250px); }
    to { left: 50%; }
}

@keyframes undoSlideRight {
    from { left: calc(50% + 250px); }
    to { left: 50%; }
}

.thumbnailImage {
    width: 450px;
}

.vaporwaveImage {
    height: 100vh;
    filter: drop-shadow(10px 0px 10px black);
}

.aliceImage {
    border-radius: 50%;
    border: 3px solid white;
    background: #555;
}

.magnifyImage {
    width: 50px;
    position: absolute;
    top: 60px;
    right: 25px;
    z-index: 15;
}

.magnifyImage:hover {
    cursor: pointer;
    width: 60px;
}

.backarrowImage {
    width: 20px;
    position: absolute;
    right: 9px;
    top: 5px;
}

.titleText {
    font-family: 'Kosugi Maru';
    font-size: 64px;
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgb(248,104,255);
}

.bottomText {
    position: absolute;
    bottom: 15px;
}

.popupOverlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 85%;
    background: black;
    z-index: 5;
}

.imagePopup {
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: black;
}

.centeredImage {
    height: 800px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: blue;
}

@media screen and (min-height: 0px) and (max-height: 599px) {
    .homeContainer {
        height: 300px;
        width: 250px;
        font-size: 10px;
    }
    .homeBar { width: 280px; }
    .linkBox { padding: 5px; }
    .thumbnailImage { width: 250px; }
    .imagePopup { height: 300px; }
    .centeredImage { height: 300px; }
    .slideLeft { left: calc(50% - 150px); }
    .slideRight { left: calc(50% + 150px); }
    @keyframes slideLeft {
        from { left: 50%; }
        to { left: calc(50% - 150px); }
    }
    @keyframes slideRight {
        from { left: 50%; }
        to { left: calc(50% + 150px); }
    }
    @keyframes undoSlideLeft {
        from { left: calc(50% - 150px); }
        to { left: 50%; }
    }
    @keyframes undoSlideRight {
        from { left: calc(50% + 150px); }
        to { left: 50%; }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    .imagePopup { height: 500px; }
    .centeredImage { height: 500px; }
}

@media screen and (min-height: 600px) and (max-height: 800px) {
    .imagePopup { height: 600px; }
    .centeredImage { height: 600px; }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    .homeContainer {
        height: 300px;
        width: 250px;
        font-size: 10px;
    }
    .homeBar { width: 280px; }
    .linkBox { padding: 5px; }
    .thumbnailImage { width: 250px; }
    .magnifyImage { width: 40px; }
    .magnifyImage:hover { width: 50px; }
    .imagePopup { height: 300px; }
    .centeredImage { height: 300px; }
    .slideLeft { left: calc(50% - 150px); }
    .slideRight { left: calc(50% + 150px); }
    @keyframes slideLeft {
        from { left: 50%; }
        to { left: calc(50% - 150px); }
    }
    @keyframes slideRight {
        from { left: 50%; }
        to { left: calc(50% + 150px); }
    }
    @keyframes undoSlideLeft {  
        from { left: calc(50% - 150px); }
        to { left: 50%; }
    }
    @keyframes undoSlideRight {
        from { left: calc(50% + 150px); }
        to { left: 50%; }
    }
}

@media screen and (min-width: 0px) and (max-width: 599px) {
    .homeContainer {
        height: 300px;
        width: 250px;
        font-size: 10px;
    }
    .homeBar { width: 280px; }
    .linkBox { padding: 5px; }
    .thumbnailImage { width: 250px; }
    .magnifyImage { width: 40px; }
    .magnifyImage:hover { width: 50px; }
    .imagePopup { height: 200px; }
    .centeredImage { height: 200px; }
    .slideLeft {
        z-index: 0; 
        left: 50%;
        animation-duration: 0s;
    }
    .slideRight {
        z-index: 1;
        left: 50%;
        animation-duration: 0s;
    }
    @keyframes slideLeft {
        from { z-index: 0; }
        to { z-index: 1; }
    }
    @keyframes slideRight {
        from { z-index: 0; }
        to { z-index: 1; }
    }
    @keyframes undoSlideLeft {
        from { z-index: 1; }
        to { z-index: 0; }
    }
    @keyframes undoSlideRight {
        from { z-index: 1; }
        to { z-index: 0; }
    }
}